.nav{
    background-color: 
#dee2e6;

}
.gradient-background{
    background-color: 
#dee2e6;
}
.size{
    border-radius: 20%;
    padding-left: 40px;
}

.filter{
    font-weight: bolder;
}
.lead {
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.feature-icon {
    width: 4rem;
    height: 4rem;
    border-radius: .75rem;
}
.text-bg-primary {
    color: #fff ;
    background-color: black;
} 
.icon-black-bg {
  background-color: black;   
  color: white;              
}

